.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.Modal {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;

  &__popover {
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.6;
  }

  &__dialog {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 70vw;
    opacity: 0;

    animation-name: appearUp;
    animation-duration: 500ms;
    animation-iteration-count: 1;
  }
}

@keyframes appearUp {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
